<style>
  .titulo {
    text-align: center;
  }
</style>
<ion-header class="titulo">   
  <ion-toolbar>      
    <ion-buttons slot="start" >       
      <ion-back-button       
      defaultHref="/" text=""       
      color="tertiary"       
      mode="chevron-back-circle"></ion-back-button>     
    </ion-buttons>          
    <ion-title color="tertiary">Avatar</ion-title>
    
    <ion-chip slot="end" color="tertiary">
      <ion-avatar>
        <img src="/assets/avatar.jpg" alt=""/>
      </ion-avatar>
      <ion-label>Nayeli</ion-label>
    </ion-chip>

    
  </ion-toolbar> 
</ion-header>  
<ion-content padding> 
  <p></p>
  <ion-title>Nayeli Chacaguasay</ion-title>
<ion-list>
  <ion-item>
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="/assets/avatar.jpg" />
    </ion-avatar>
  </ion-item>
</ion-list>
</ion-content> 